extends layout

block content
    include modal
    div.container.text-left
        div.page-header.text-center
            h1 #{currentOrg.name} Organization
        div
            h4 Switch Organizations
            form(action='/org', method='post')
                select(onchange="this.form.submit()" name="org")
                    each org in orgs
                        option(value=org.id selected=(org.id == currentOrg.id ? "selected" : undefined)) #{org.name}
        div.text-left
            form(action='/invite', method='post')
                div.input-group
                    h4 Invite a new member to #{currentOrg.name}
                    input(type='text' name='invitee' placeholder='user@domain.com' aria-describedby='basic-addon1')#form-control
                    span
                        button.btn.btn-primary(type='submit') Invite
        div.panel.panel-default
            div.panel-heading
                table.table#users
                    thead
                        th Name
                        th Email
                        th.text-center Remove User
                    tbody
                        each user in users
                            tr
                                td #{user.name}
                                td #{user.email}
                                td.text-center
                                    p(data-placement="top" data-toggle="tooltip" title="Remove User")
                                        button.delete-user.btn.btn-danger.btn-xs(data-user-id=user.id data-title="Delete" data-toggle="modal" data-target="#delete")
                                            span.glyphicon.glyphicon-trash
    script.
        $(document).ready(function () {
            $('#users').dataTable({
                columnDefs: [{
                    targets: 2,
                    orderable: false,
                    searchable: false
                }]
            });
            //triggered when modal is about to be shown
            $('#delete').on('show.bs.modal', function (e) {
                //get data-id attribute of the clicked element
                var userID = $(e.relatedTarget).data('user-id');
                $(e.currentTarget).find('button[name="userId"]').val(userID);
            });
        });
